body {
  margin: 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template:
    'navbar navbar navbar' 5em
    'left middle right' 1fr
    'footer footer footer' 5em/0.25fr 1fr 0.25fr;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: navbar;
  gap: 1em;
}

.content {
  grid-area: middle;
}

.content-nonstandard {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.navbar button {
  padding: 1em;
}

.projectlist-item-a {
  text-decoration: none;
  color: black;
}

.projectlist-item {
  border: 0.2em solid rgb(152, 152, 152);
  border-radius: 1em;
  margin: 0.2em 0;
  background-color: rgb(241, 241, 241);
}

.projectlist-item:hover {
  background-color: rgb(194, 194, 194);
}

.project {
  margin: 1em;
}

.userlist-user {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  align-items: center;
}

.userlist-user p {
  margin: 0 0.5em;
}

.btn-delete {
  background-color: rgb(97, 0, 0);
  color: white;
}
