body {
  margin: 0;
}

.container {
  display: grid;
  grid-template:
    'navbar navbar navbar' 100wv
    'left content right' auto
    'footer footer footer' 100wv;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar button {
  padding: 1em;
}

.project-item {
  border: 0.2em solid red;
  margin: 0.2em 0;
}
