body {
  margin: 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template:
    'navbar navbar navbar' 5em
    'left middle right' 1fr
    'footer footer footer' 5em/0.25fr 1fr 0.25fr;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: navbar;
  gap: 1em;
}

.content {
  grid-area: middle;
}

.content-nonstandard {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.entry-navbar {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.entry-navbar button {
  padding: 1em 2em;
}

.entry-info {
  max-width: 66%;
  text-align: center;
}

.navbar button {
  padding: 1em;
}

.projectlist-item-a {
  text-decoration: none;
  color: black;
}

.projectlist-item {
  border: 0.2em solid rgb(152, 152, 152);
  border-radius: 1em;
  margin: 0.2em 0;
  background-color: rgb(241, 241, 241);
}

.projectlist-item:hover {
  background-color: rgb(194, 194, 194);
}

.notstarted {
  background-color: rgb(241, 241, 241);
}

.notstarted:hover {
  background-color: rgb(194, 194, 194);
}

.wip {
  background-color: antiquewhite;
}

.wip:hover {
  background-color: rgb(176, 168, 157);
}

.done {
  background-color: rgba(114, 180, 0, 0.235);
}

.done:hover {
  background-color: rgba(65, 102, 3, 0.235);
}

.late {
  background-color: rgba(215, 3, 3, 0.43);
}

.late:hover {
  background-color: rgba(145, 1, 1, 0.551);
}

.project {
  margin: 1em;
}

.projectedit-btns {
  display: flex;
  flex-direction: row;
}

.projectedit-btn {
  margin: 0.1em 5px 0 0;
}

.userlist-user {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  align-items: center;
}

.userlist-user p {
  margin: 0 0.5em;
}

.btn-delete {
  background-color: rgb(97, 0, 0);
  color: white;
}

.tasklist-item-a {
  color: black;
  text-decoration: none;
}

.tasklist-item p,
.tasklist-item h4,
.tasklist-item h5 {
  margin: 0.1em 0 0.5em;
}

.tasklist-item {
  margin-bottom: 3em;
}

.task-wip {
  background-color: bisque;
}

.task-done {
  background-color: rgba(114, 180, 0, 0.235);
}

.status-done {
  color: green;
}

.status-wip {
  color: rgb(50, 50, 50);
}

.status-late {
  color: red;
}
