{% extends 'layout.html' %} {% block title %}New task{% endblock %} {% block
content %}
<div class="project-create">
  <h1>Create a task</h1>
  <form action="/projectedit/addtask/{{ id }}" method="POST">
    <h4>Task name</h4>
    <input type="text" name="task_name" maxlength="100" required />
    <h4>Description</h4>
    <input type="text" name="task_description" maxlength="250" />
    <h4>Deadline</h4>
    <input type="date" name="task_deadline" min="2023-01-01" max="2035-12-31" />
    <br />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create" />
  </form>
</div>
{% endblock %}
