<!DOCTYPE html>
<head>
  <title>Project Management App</title>
  <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
  <div
    class="content"
    style="
      display: flex;
      flex-direction: column;
      gap: 2em;
      justify-content: center;
      align-items: center;
    "
  >
    <h1>Project Management App</h1>
    <a href="/login">
      <button style="padding: 2em 1em">Login</button>
    </a>
    <br />
    <a href="/register">
      <button style="padding: 2em 1em">Register</button>
    </a>
  </div>
</body>
