<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="../../../static/main.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="navbar">
      <a href="/">
        <button>Home</button>
      </a>
      {% if session.csrf_token %}
      <a href="/logout">
        <button>Log out</button>
      </a>
      {% else %}
      <a href="/login">
        <button>Log in</button>
      </a>
      {% endif %}
    </div>
    <div class="left"></div>
    <div class="content">{% block content %} {% endblock %}</div>
    <div class="right"></div>
  </div>
</body>
