<!DOCTYPE html>
<head>
  <title>Login - Project Management App</title>
  <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
  <div class="content-nonstandard">
    <h1>Login</h1>
    <form action="/login" method="POST">
      Name: <br />
      <input
        type="text"
        name="username"
        minlength="3"
        maxlength="50"
        required
      />
      <br />
      Password:
      <br />
      <input
        type="password"
        name="password"
        minlength="6"
        maxlength="50"
        required
      />
      <br />
      <br />
      <input type="submit" value="Login" style="width: 100%" />
    </form>
    <p>
      No account? <a href="/register"><button>Register!</button></a>
    </p>

    <a href="/">
      <button>Return home</button>
    </a>
  </div>
</body>
