<!DOCTYPE html>
<head>
  <title>Login - Project Management App</title>
  <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
  <div class="content-nonstandard">
    <h1>Login</h1>
    <form action="/login" method="POST">
      Name: <br />
      <input
        type="text"
        name="username"
        minlength="3"
        maxlength="50"
        required
      />
      <br />
      Password:
      <br />
      <input
        type="password"
        name="password"
        minlength="6"
        maxlength="50"
        required
      />
      <input type="submit" value="Login" />
    </form>
    No account?
    <a href="/register">
      <button>Register</button>
    </a>
  </div>
</body>
