{% extends 'layout.html' %} {% block title %}Projects{% endblock %} {% block
content %}
<!-- This script prevents resubmitting forms, which can create duplicate entries in the database -->
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
<h1>Projects</h1>
<h3>Hello {{ name }}</h3>
<p>A list of your projects:</p>
{% if projects %} {% for project in projects %}
<a
  class="projectlist-item-a"
  id="{{ project['id'] }}"
  href='/projectview/{{ project["id"] }}'
  title="View project"
>
  <div
    class="projectlist-item {{ 'done' if project['status'] == 2 else 'wip' if project['status'] == 1 else 'notstarted' if project['status'] == 0 else 'late' if project['status'] == 3 else 'somethingwrong' }}"
  >
    <div class="project">
      <h3>{{ project['name'] }}</h3>
      <p>{{ project['description'] }}</p>
      <p>
        Deadline: {{ project['deadline'].day }} {{
        project['deadline'].strftime("%B") }} {{ project['deadline'].year }} (in
        {{ (project['deadline']-date).days }} days)
      </p>
      <p>
        Status: {{ 'Done!' if project['status'] == 2 else 'In progress' if
        project['status'] == 1 else 'Not started' if project['status'] == 0 else
        'Late!' if project['status'] == 3 else 'Something wrong?' }}
      </p>
    </div>
  </div>
</a>

{% endfor %} {% else %}
<p>No projects found!</p>
{% endif %}
<a href="/newproject">
  <button name="create_project">New Project</button>
</a>
{% endblock %}
