{% extends 'layout.html' %} {% block title %}Project: {{ project['name'] }}{%
endblock %} {% block content %}
<div class="project-info">
  <h2>{{ project['name'] }}</h2>
  <p>{{ project['description'] }}</p>
  <p>
    Deadline: {{ project['deadline'].day }} {{
    project['deadline'].strftime("%B") }} {{ project['deadline'].year }} (in {{
    (project['deadline']-date).days }} days)
  </p>
  <p class="status">
    Status: {% if project['status'] == 2 %}
    <span class="status-done">Done!</span>
    {% elif project['status'] == 1 %}
    <span class="status-wip">In progress</span>
    {% elif project['status'] == 0 %}
    <span class="status-notstarted">Not started</span>
    {% elif project['status'] == 3 %}
    <span class="status-late">Late!</span>
    {% else %}
    <span class="status-error">Something wrong</span>
    {% endif %}
  </p>
  {% if user[1] == 1 %}
  <a href='/projectedit/{{ project["id"] }}/status/2'>
    <button>Mark as complete</button>
  </a>
  <div class="projectedit-btns">
    <a href='/projectedit/{{ project["id"] }}' class="projectedit-btn">
      <button>Edit project</button>
    </a>
    <a href='/projectusers/{{ project["id"] }}' class="projectedit-btn">
      <button>Manage users</button>
    </a>
  </div>

  {% endif %}
  <h3>Tasks</h3>
  {% if tasks %} {% for task in tasks %}
  <div class="tasklist-item">
    <div class="{{ 'task-wip' if task['status'] == -1 else 'task-done' }}">
      <h4>{{ task['name'] }}</h4>
      <p>{{ task['description'] }}</p>
      <p>
        Deadline: {{ task['deadline'].day }} {{ task['deadline'].strftime("%B")
        }} {{ task['deadline'].year }} (in {{ (task['deadline']-date).days }}
        days)
      </p>
      {% if user[1] == 1 %}
      <a href='/projectedit/{{ project["id"] }}/taskedit/{{ task["id"] }}'>
        <button>Edit task</button>
      </a>
      <form
        action='/projectedit/{{ project["id"] }}/taskadduser/{{ task["id"] }}'
        method="POST"
      >
        <input type="text" name="username" placeholder="Username" />
        <input type="submit" value="Add user" />
      </form>
      {% endif %} {% if user[3] in task['users'][0] %} {% if task['status'] ==
      -1 %}
      <a
        href='/projectedit/{{ project["id"] }}/taskchangestatus/{{ task["id"] }}'
      >
        <button>Mark as done</button>
      </a>
      {% elif task['status'] == 1 %}
      <a
        href='/projectedit/{{ project["id"] }}/taskchangestatus/{{ task["id"] }}'
      >
        <button>Mark as incomplete</button>
      </a>
      {% endif %} {% endif %}

      <h5>Users</h5>
      {% if task['users']|length > 0 %} {% for user in task['users'] %}
      <p class="task-user">{{ user[0] }}</p>

      {% endfor %} {% else %}
      <p>No users assigned</p>
      {% endif %}
    </div>
  </div>
  {% endfor %} {% else %}
  <p>No tasks!</p>
  {% endif %}
  <a href='/projectedit/addtask/{{ project["id"] }}'>
    <button>Add task</button>
  </a>
</div>
{% endblock %}
