{% extends 'layout.html' %} {% block title %}Edit Project{% endblock %} {% block
content %}
<div class="project-info">
  <h3>{{ project['name'] }}</h3>
  <p>{{ project['description'] }}</p>
  <p>
    Deadline: {{ project['deadline'].day }} {{
    project['deadline'].strftime("%B") }} {{ project['deadline'].year }} (in {{
    (project['deadline']-date).days }} days)
  </p>
  {% if permission == 1 %}
  <a href='/projectedit/{{ project["id"] }}'>
    <button>Edit project</button>
  </a>
  <br />
  <a href='/projectusers/{{ project["id"] }}'>
    <button>Manage users</button>
  </a>
  {% endif %}
</div>
{% endblock %}
