{% extends 'layout.html' %} {% block title %}Project Users{% endblock %} {%
block content %}
<!-- This script prevents resubmitting forms, which can create duplicate entries in the database -->
<script>
  if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
</script>
<div class="content">
  <h3>Users</h3>
  {% if users %} {% for user in users %}
  <div class="userlist-user">
    <p>{{ user[0] }}</p>

    {% if user[3] %}
    <p style="color: rgb(100, 100, 100)">Creator</p>

    {% else %} {% if user[2] == 0 %}
    <p style="color: rgb(100, 100, 100)">Member</p>
    <form
      action="/projectusers/elevateuser/{{ id }}&{{ user[1] }}"
      method="POST"
    >
      <input type="submit" value="Elevate user" />
    </form>

    {% elif user[2] == 1 %}
    <p style="color: rgb(100, 100, 100)">Admin</p>
    <form
      action="/projectusers/demoteuser/{{ id }}&{{ user[1] }}"
      method="POST"
    >
      <input type="submit" value="Demote user" />
    </form>
    {% endif %}
    <form
      action="/projectusers/removeuser/{{ id }}&{{ user[1] }}"
      method="POST"
    >
      <input type="submit" value="Remove user" />
    </form>
    {% endif %}
  </div>
  {% endfor %} {% else %}
  <p>No users</p>
  {% endif %}
  <form action="/projectusers/adduser/{{ id }}" method="POST">
    <h4>Add user</h4>
    <input type="text" name="username" />
    <br />
    <input type="submit" value="Add" />
  </form>
  <a href="/projectview/{{ id }}">
    <button>Back to project</button>
  </a>
</div>
{% endblock %}
