<!DOCTYPE html>
<head>
  <title>Register - Project Management App</title>
  <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
  <div class="content-nonstandard">
    <h1>Register</h1>
    <form action="/register" method="POST">
      Username: <br />
      <input type="text" name="username" required />
      <br />
      Password: <br />
      <input type="password" name="password" minlength="6" required />
      <br /><br />
      <input type="submit" value="Register" style="width: 100%" />
    </form>
    <a href="/">
      <button>Return home</button>
    </a>
  </div>
</body>
